#menu {
    width: 98%;
    height: 100px;
    position: fixed;
    left: 1%;
    background-image: url('menubackground.png');
    background-size:cover;
    background-color: transparent;
    margin: 0;
    z-index: 98;
    border-bottom: dotted black thin;
}
#menuLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 150px;
}
#menuLeft img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
}
#menuMiddle {
    position: absolute;
    bottom: 0;
    left: 110px;
    width: 500px;
    height: 40px; 
    margin: 0;
    z-index: 99;
}

#menuMiddle ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
#menuMiddle ul li {
    background-color: white;
    margin-left: 5px;
    margin-top: 5px;
    width: 120px;
    height: 30px;
    float:left;
    border: solid black thin;
}
#menuMiddle ul a {
    text-align:center;
    font-weight: lighter;
    font-size: auto;
    display:block;
    color: black;
    text-decoration: none;
}
#menuMiddle ul li ul {
    display: none;
    margin-left: 0;
    height: auto;							
    margin-top: 10px;
    padding: 0;
}
#menuMiddle ul li:hover ul {
    display: block; /* Displays the drop-down box when the menu item is hovered over */
}
#menuMiddle ul li ul li {
    margin: 0;
    float: none;
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: dotted black thin;
}
#menuMiddle ul li:hover ul li a {
    color: black;
}
#menuRight {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 32px;
    z-index: 99;
}
#menuRight table {
    position: absolute;
    right: 0;
    border: none;
    border-collapse: collapse;
    height: 100%;
}
#menuRight table tr td img {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
}
#gallary {
    position: absolute;
    top: 110px;
    left: 110px;
}
